@media (max-width: 1400px) {
    .about-content{
        grid-template-columns: 1fr 1fr;
    }
    .about-content__first{
        grid-column: 1/3;
    }
}

@media (max-width: 992px) {
    .about-content{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .about-content__first{
        grid-column: 1/2;
    }
}


@media (max-width: 576px) {
    .about-content__first{
        padding: 20px;
    }
    .about-content__second{
        padding: 20px;
    }
    .about-content__second-steps{
        font-size: 14px;
    }
}
