@use '/resources/scss/common/variables';

.header-burger{
    display: none;
}
@media (max-width: 992px) {
    .header-burger {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }
    .page-content{
       .header-burger{
           background: rgba(198, 198, 198, 0.1);

           svg{
               path{
                   fill: variables.$MainColorText;
               }
           }
       }
    }
    .burger-menu {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        //max-width: 500px;
        transition: all 0.3s ease 0s;
        z-index: 99999;

        &.active {
            left: 0;
        }

        &.active .burger-menu__shadow {
            opacity: 1;
            pointer-events: all;
        }

        &__top {
            position: absolute;
            top: 0;
            left: 0;
            height: 65px;
            width: 100%;
            background: #FAF5EF;
            padding: 13px;
            z-index: 150;
        }

        &__close {
            cursor: pointer;
            height: 51px;
            width: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            background: rgba(255, 255, 255, 0.7);
            border-radius: 4px;
        }

        &__content {
            position: absolute;
            left: 0;
            top: 65px;
            max-height: calc(100% - 65px);
            height: auto;
            width: 100%;
            background: #FAF5EF;
            z-index: 150;
            padding: 30px 30px 75px;
            overflow: auto;
        }

        &__list {
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;

                li{
                    margin-bottom: 28px;
                }
            }

            .has-sub-menu {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }

            .has-sub-menu .sub-menu {
                display: none;
                padding-left: 20px;
                flex: 0 0 100%;

                li a {
                    display: inline-block;
                    font-family: variables.$FontFamily;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .sub-menu__arrow {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                cursor: pointer;
                transition: all 0.3s ease;

                &.active {
                    transform: rotate(180deg);

                    svg path {
                        stroke: #1C2864;
                        transition: all 0.3s ease;
                    }
                }
            }
        }

        &__contacts{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 8px;
        }
        &__section {
            position: relative;
            display: block;
            width: 100%;
            padding: 15px 60px 15px 20px;
            color: #373737;
            font-size: 16px;
            font-weight: 700;
        }

        &__shadow {
            position: fixed;
            opacity: 0;
            pointer-events: none;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.7);
            transition: all 0.5s ease 0s;
        }
      }
}

