@use '/resources/scss/common/variables';

.footer {
    background: no-repeat top center/cover url("/public/images/footer-bg.jpg");
    padding: 20px;
    color: #ffffff;

    p{
        color: #ffffff;
    }
    h5 {
        font-size: 18px;
        font-family: variables.$FontFamily;
        font-style: normal;
        margin: 0 0 30px;
        font-weight: 700;
        line-height: normal;
        color: #FFF;
    }
}
.footer-feedback{
    max-width: 925px;
    margin: 60px auto 78px;

    &__heading{
        p{
            max-width: 732px;
            font-size: 18px;
            margin: 0 auto 24px;
        }
    }
}
.footer-content {
    background: #1D1714;
    border-radius: 20px;
    padding: 50px 0 198px;
    position: relative;
    overflow: hidden;
}
.footer-icon{
    position: absolute;
    bottom: 16px;
    left: 20px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    width: 187px;
    flex-shrink: 0;
}
.footer-info{
    display: flex;
    gap: 128px;
}
.footer-menu{
    ul{
        li{
            margin-bottom: 16px;
            a{
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
}
.footer-contacts{
    a{
        display: block;
        font-weight: 600;
        font-size: 32px;
        line-height: normal;
        margin-bottom: 16px;
    }
}
.footer-privacy{
    margin-bottom: 12px;
    a{
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #898292;
        margin-bottom: 8px;
    }
}
.footer-copyright{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #898292;
    margin-bottom: 12px;
}
.footer-contur {
    width: 200px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    &__left {
        .contur-link {
            display: block;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #898292;
            letter-spacing: 0;
            transition: all 0.3s ease;
        }
        .contur-link:not(:last-child) {
            margin-bottom: 4px;
        }
    }
}
